[Unit]
Description= Capture rbus rtRouted process logs. Only for RDK-B devices
After=rbus.service
ConditionPathExists=/usr/bin/rbus_log_capture.sh
ConditionPathExists=/nvram/rbus_support

[Service]
Type=simple
ExecStart=/bin/sh '/usr/bin/rbus_log_capture.sh'
Restart=always

[Install]
WantedBy=multi-user.target
